
matrix:
  include:
  - language: bash
    script:
    - bash hinterland-magazin-downloader.sh
  - language: sh
    services:
      - docker
    script:
      - docker pull microsoft/powershell
      - docker run -v $(pwd):/data microsoft/powershell /bin/sh -c "cd /data; chmod +x *.ps1; pwsh ./hinterland-magazin-downloader.ps1"

